@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-sizing: border-box  ;
    overflow-x: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F1D3F;
    padding: 20px;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
   gap: 15px;
}

.logo img {
    height: 70px;
    width: auto;
}



.navegacion {
    flex: 1;
    display: flex;
    justify-content: center; 
}
.navegacion ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.navegacion ul li {
    margin: 0 30px;
    position: relative;
}
.navegacion ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}
.navegacion ul li a:hover {
    background-color: #EEDAF2;
    color: #000000;
}
.navegacion ul li ul {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 10px 0;
}
.navegacion ul li:hover > ul {
    display: block;
}

.navegacion ul li ul li a {
    color: #4F1D3F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.navegacion ul li ul li a:hover {
    background-color: #D9C6DD;
}
#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.iconos {
    display: flex;
    gap: 34px; 
    align-items: center;
padding: 30px;
   
}

.iconos a {
    color: rgb(254, 254, 254); 
    text-decoration: none;
    display: inline-block;
    font-size: 17px; 
    transition: color 0.5s ease, transform 0.3s ease;
}

.iconos a:hover {
    color: rgb(170, 129, 172); 
    transform: scale(1.2); 
}

.additional-logos {
    display: flex;
    gap: 27px; 
    align-items: center;
    padding-left: 40px;
}

.additional-logos i {
    font-size: 17px; 
    color: #ffffff; 
    transition: transform 0.3s, color 0.3s;
}

.additional-logos i:hover {
    color: #EEDAF2; 
    transform: scale(1.2); 
}

#donar .contenedor-fondo {
    background: url("../img/vector-donar-ropa.svg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    position: absolute;
    top: -150px; 
    left: 0;
    width: 100%;
    z-index: -1; 
}

.titulo-donar, .subtitulo-donar {
    position: relative; 
    z-index: 10; 
    text-align: center;
    font-size: 20px; 

}

/* Ajusta la separación de los títulos */
.titulo-donar h1 {
    margin-top: 55vh; 
    font-weight: 600;
    color: #4F1D3F; 
    margin-bottom: 0;
}

.subtitulo-donar h2 {
   margin-bottom: 3vh; 
    font-weight: 700; 
    color: #9D4671;
    margin-top: 0; /* Elimina espacio extra encima del segundo título */
    padding-top: -10px; /* Puedes ajustar este valor para acercarlos más o separarlos un poco */
}

.contenedor-pasos {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 50px; /* Aumentamos el espacio entre las filas */
    justify-content: center;
    max-width: 900px;
    margin: 40px auto;
}

.paso {
    background-color: #FFD4F0;
    padding: 40px 20px;
    top: 300px;
    border-radius: 10px;
    text-align: center;
    position: relative; /* Necesario para posicionar el número */
    transition: all 0.3s ease-in-out; /* Transición suave */
}

.paso:hover {
    transform: scale(1.05); /* Hace que el cuadro crezca ligeramente */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Aumenta la sombra */
}

.paso:hover .numero {
    background: linear-gradient(#692653, #823068, #A31977, #B54290);
    transition: background-color 0.3s ease-in-out; /* Suaviza el cambio */
}

.numero {
    background-color: #81245d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -20px; /* Lo posiciona arriba del cuadro rosado */
    left: 50%;
    transform: translateX(-50%);
}



img {
    width: 65px;
    height: 70px;
    display: block;
    margin: 20px auto; /* Centra la imagen */
}

p {
    margin-top: 10px;
}


#recompensa{
   margin-top: 520px;   
}

.titulo-recompensa h1{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 32px;
    font-style: italic; 
letter-spacing: 5px; 
color: #82145F;
display: flex;
margin-left: 120px; 
}

.subtitulo-recompensa h2{
    font-family: "Cardo", serif;
    font-weight: 400;
    font-size: 37px;
    font-style: italic;
    margin-left: 290px; 
    margin-top: -39px;
}

.texto-recompensa {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    font-style: italic;
    text-align: left; 
    font-size: 19px;
    line-height: 1.5; 
    margin-left: 120px;
}

.imagen-recompensa img {
    display: flex;
    justify-content: center;
    top: -400px;
    margin-left: 850px;
    width: 30%;
    height: 30%;
    z-index: 1;
    position: relative;
}

.circulo {
    position: absolute;
    margin-top: 930px;
    margin-left: 490px;
    width: 20%; /* Tamaño del círculo */
    height: 40%;
    background-color: #5c1d42; /* Color del círculo */
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el círculo */
    z-index: -1; /* Para que esté detrás del celular */
}

#formulario{
   text-align: center;
    justify-content: center;
    align-items: center;
 
}

.titulo-formualario{
    font-weight: bold;
    color: #4F1D3F; 
    position: relative;
font-size: 30px;
top: -310px;

}

.subtitulo-formulario{
    font-weight: 400;
    color: #7B0D58; 
    position: relative;
font-size: 25px;
bottom: 320px;
top: -310px;
}

.boton-formulario a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    display: inline-block;
    padding: 11px 14px;
    border: 1px solid#4f1d3f;
    align-items: center;
    border-radius: 20px;
    color: #B54290;
    font-weight: bold;
    transition: 0.5s;
    top: -280px;
    font-size: 20px;
    position: relative;
}


#formulario .boton-formulario a:hover{
    background-color: #B54290;
    color: #eeeeee;
    border: #B54290;
   
}



.footer{
    background-color:#4F1D3F ;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px  0;
    color: #EEDAF2;

}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    
}

.lista{
    list-style: none;

}

.elem{
    padding: initial;
    
}

.elem:hover{
    color: #da9dd3;
    cursor: pointer;
    transition: color .03s ease;
}

.title{
    color: #cfb6dd;
    cursor: pointer;
    padding-bottom: 5px;
}


.social-content{
    padding-top: 20px;
    font-size: 23px;
    margin: 12px;
}

@media(max-width:700px){
    .footer{
        display: flex;
        justify-content: center;
    }
    .footer-content{
        flex-direction: column;
        gap: 20px;
    }
}


.icono-con-contador {
    position: relative;
    display: inline-block;
  }
  
  .contador {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgb(138, 56, 101);
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 70%;
    z-index: 10;
    cursor: pointer;
  }